<%- include("../partials/admin/admin-header") %>
        


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" />


<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Category Management </h2>
      <p>Add, edit, or delete a category</p>
    </div>
    <div>
      <input type="text" placeholder="Search Categories" class="form-control bg-white">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <form action="/admin/editcategory/<%= category._id %>?_method=PUT" method="post" id="myForm">
            <div class="mb-4">
                <input hidden value="PUT" name="_method">
              <label for="product_name" class="form-label">Name</label>
              <input type="text" placeholder="Type here" name="catName" class="form-control" id="categoryName" value="<%= category.name %>" />
            <div id="error1" class="text-danger"></div>
            </div>
            <div class="mb-4">
              <label class="form-label">Description</label>
              <input type="text" placeholder="Type here" name="catDescription" class="form-control" id="categoryDescription" value="<%= category.description %>"/>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary" type="submit">Edit category</button>
            </div>
          </form>
        </div>

        <script>
            const category = document.getElementById("categoryName");
            const categoryDescription = document.getElementById("categoryDescription");
            const error1 = document.getElementById("error1");
            const myForm = document.getElementById("myForm");
            function namevalidate(e) {
          
              const nameval = category.value;
              const nameRegex = /^[A-Za-z]+([- ]?[A-Za-z]+)*$/;
              if (nameval.trim() === "") {
                error1.style.display = "block";
                error1.style.marginLeft = "18px";
                error1.innerHTML = "Please Enter a valid Name.";
                return false;
              } else if (!nameRegex.test(nameval)) {
                error1.style.display = "block";
                error1.innerHTML = "Name contains Numbers";
                return false;
              }
              return true;
            }
            category.addEventListener("blur", namevalidate);
            myForm.addEventListener("submit", (e) => {
              const nameval = namevalidate(e);
              if (!nameval) {
                e.preventDefault();
              }
            })
          
            </script>

        
        <%- include("../partials/admin/admin-footer") %>