<%- include("../partials/admin/admin-header") %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            
        </div>
        
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <% if (!allOrders.length) { %>
                 <h1>No Orders Yet</h1>
                <% } else { %>

                <table class="table table-hover" id="orderTable">
                    <thead>
                        <tr>
                            <th>ORDER ID</th>
                            <th scope="col">USER NAME</th>
                            <th scope="col">DATE</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">PAYMENT TYPE</th>
                            
                            <th scope="col"> VIEW DETAILS </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < allOrders.length; i++ ) { %>
                            <tr>
                                <td  width="10%"><%= allOrders[i].orderId %></td>
                                <td  width="8%"><%= allOrders[i].address.name %> </td>
                                <td  width="15%"><%= allOrders[i].formattedDate %></td>
                                <td  width="13%">$<%= allOrders[i].totalAmount %></td>
                                <td  width="13%"><%= allOrders[i].paymentMethod %></td>
                                

                                
                                <td width="15%">
                                    <a href="/admin/orderDetails/<%= allOrders[i]._id %>" class="btn btn-md rounded font-sm">Details</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } %>
                <% if (totalPages){ %>
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination justify-content-center">
                        <% if (currentPage > 1) { %>
                          <li class="page-item ">
                            <a class="page-link" href="/admin/allOrders?page=<%=currentPage-1%>" >Previous</a>
                          </li>
                          <% } %>
                         
                          <li class="page-item"><a class="btn btn-sm active" ><%=currentPage%></a></li>
                        
                          <% if (currentPage < totalPages) { %>
                          <li class="page-item">
                            <a class="page-link" href="/admin/allOrders?page=<%=currentPage+1%>">Next</a>
                          </li>
                          <% } %>
                        </ul>
                      </nav>
                      <% } %>

            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->


<script>
    function changeOrderStatus(orderId,status){
        console.log(orderId);
        console.log(status);

        // let buttonId='changeStatus'+orderId;
        // let statusId='status'+orderId;
        swal('Do you want to change the order Status',{
                buttons:["No","Yes"]
        })
        .then((res)=>{
            if(res){
                $.ajax({
                    url:'/admin/orderStatus',
                    type:'post',
                    data:{
                        orderId:orderId,
                        status:status
                    }
                })
                .done((res)=>{
                    if(res.status){
                        
                        
                            window.location.reload();
                            // const a = document.getElementById("status"+orderId)
                            // a.innerHTML=status
                            // document.getElementById(buttonId).innerHtml=nextButtonValue

                        
                    }

                })
                .fail((err)=>{
                    console.log(err);
                })
            }
                    
        })
                   
        
    }
</script>
<%- include("../partials/admin/admin-footer") %>