<%- include("../partials/admin/admin-header") %>

<section class="content-main container">
    
   

    <div class="content-header">
        <div>
            <hr>
            <h2 class="content-title card-title" >Order detail</h2>

        </div>
    </div>

    
      
    
    <div class="card">
        
        <br>
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b><%= orderDetails.formattedDate %></b>
                    </span> <br>
                    <small class="text-muted" style="font-size: medium; font-weight: 400;">Order ID: <%= orderDetails[0].orderId %> </small>
                </div>
              
                
            
            </div>
        </header> 
        <br>
        <div class="" >
            
            
            
            <div class="row mb-50 mt-20 order-info-wrap"  style="background-color: rgb(228, 224, 224); height: 120px;
            align-items: center;">
                <div class="col-md-4" style=" text-align: center;">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%= orderDetails[0].address.name %> 
                               <template class="__cf_email__"
                                    data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                <br> 
                            </p>
                            <a href="/admin/userProfile/<%= orderDetails[0].user %>">View profile</a>
                        </div>
                    </article>
                </div> 
                <div class="col-md-4" style=" text-align: center;">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light" style="margin-top: 13px;">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: <%= orderDetails[0].paymentMethod %> 
                            </p>
                            
                        </div>
                    </article>
                </div>   
                <div class="col-md-4" style=" text-align: center;">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                House: <%= orderDetails[0].address.house %>  
                            </p>
                            <p class="mb-1">
                                City: <%= orderDetails[0].address.city %>  
                            </p>
                            <p class="mb-1">
                                Pincode : <%= orderDetails[0].address.pincode %>
                            </p>
                            
                        </div>
                    </article>
                </div> 
            </div> 
            <br>
            <div class="row">
            
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
    <tr>
        <th width="28%" style="font-weight: bold; text-align: center;">Product</th>
        <th width="12%" style="font-weight: bold; text-align: center;">Unit Price</th>
        <th width="12%" style="font-weight: bold; text-align: center;">Quantity</th>
        <th width="12%" style="font-weight: bold; text-align: center;">Sub Total</th>
        <th width="12%" style="font-weight: bold; text-align: center;">Status</th>
        <th width="12%" style="font-weight: bold; text-align: center;">Change Status</th>
        <th width="12%" style="font-weight: bold; text-align: center;">Total</th>
    </tr>
</thead>

<tbody>
    <% for( let i = 0; i < orderDetails.length; i++ ) { %>
    
        <tr style="text-align: center;">
            <td>
                <a class="itemside" href="#">
                    <div class="left">
                        <img src="/public/uploads/<%= orderDetails[i].orderedProduct[0].image[0] %>" style="width: 80px; height: 80px;" class="img-xs" alt="Item">
                    </div>
                    <div class="info"><%= orderDetails[i].orderedProduct[0].product_name %></div>
                </a>
            </td>
            <td>$<%= orderDetails[i].orderedProduct[0].offerPrice %></td>
            <td><%= orderDetails[i].products.quantity %> </td>
            <td class="text-center" data-title="Stock" id="<%= orderDetails[i].orderedProduct[0]._id %>">
                <%= orderDetails[i].products.quantity * orderDetails[i].orderedProduct[0].offerPrice %>
            </td>
            <td >
                <% if (orderDetails[i].products.orderStatus == 'pending') { %>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-warning"><%= orderDetails[i].products.orderStatus %></span>
                <% } else if (orderDetails[i].products.orderStatus == 'processing') {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-secondary"><%= orderDetails[i].products.orderStatus %></span>
                <% } else if (orderDetails[i].products.orderStatus == 'confirmed') {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-dark"><%= orderDetails[i].products.orderStatus %></span>
                <% } else if (orderDetails[i].products.orderStatus == 'shipped') {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-info"><%= orderDetails[i].products.orderStatus %></span>
                <% } else if (orderDetails[i].products.orderStatus == 'outForDelivery') {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-warning"><%= orderDetails[i].products.orderStatus %></span>
                <% } else if (orderDetails[i].products.orderStatus == 'delivered') {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-success"><%= orderDetails[i].products.orderStatus %></span>
                <% } else if (orderDetails[i].products.orderStatus == 'cancelPending') {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-warning"><%= orderDetails[i].products.orderStatus %></span>
                <% } else {%>
                    <span id="status<%= orderDetails[i]._id %>" class="badge rounded-pill alert-danger"><%= orderDetails[i].products.orderStatus %></span>
                <% } %>
            </td>

            <td >
                <% if (orderDetails[i].products.orderStatus == 'pending') { %>
                    <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i]._id %>','<%= orderDetails[i].products.product %>','processing','<%= orderDetails[i].products.size %>')" class="btn btn-outline-primary rounded font-sm">processing</a>
                <% } else if (orderDetails[i].products.orderStatus == 'processing') {%>
                    <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i]._id %>','<%= orderDetails[i].products.product %>','confirmed','<%= orderDetails[i].products.size %>')" class="btn btn-outline-primary rounded font-sm">confirmed</a>
                <% } else if (orderDetails[i].products.orderStatus == 'confirmed') {%>
                    <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i]._id %>','<%= orderDetails[i].products.product %>','shipped','<%= orderDetails[i].products.size %>')" class="btn btn-outline-primary rounded font-sm">shipped</a>
                <% } else if (orderDetails[i].products.orderStatus == 'shipped') {%>
                    <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i]._id %>','<%= orderDetails[i].products.product %>','outForDelivery','<%= orderDetails[i].products.size %>')" class="btn  btn-outline-primary rounded font-sm">out for delivery</a>
                <% } else if (orderDetails[i].products.orderStatus == 'outForDelivery') {%>
                    <a id="changeStatus<%= orderDetails[i]._id %>" onclick="changeOrderStatus('<%= orderDetails[i]._id %>','<%= orderDetails[i].products.product %>','delivered','<%= orderDetails[i].products.size %>')" class="btn btn-outline-primary rounded font-sm">delivered</a>
                <% } else if (orderDetails[i].products.orderStatus == 'return pending') {%>
                    <a id="changeStatus<%= orderDetails[i]._id %>" onclick="approveReturn('<%= orderDetails[i]._id %>','<%= orderDetails[i].products.product %>','returned','<%= orderDetails[i].products.size %>')" class="btn btn-outline-primary rounded font-sm">Approve Return</a>
                <% } %>
            </td>
            <td>
                <% var totalPrice = orderDetails[i].orderedProduct[0].offerPrice * orderDetails[i].products.quantity; %>
                $<%= totalPrice %>
            </td>
            
        </tr>
        <% } %>
        <tr style="text-align: center;">
            <td colspan="4">
                <article class="float-end">
                    <% if (couponStatus) { %>
                        <dl class="dlist">
                            <dt>Order Total:</dt>
                            <dd><b class="h5">$<%= orderDetails[0].totalAmount + orderDetails[0].couponAmount %></b></dd>
                        </dl>
                        <dl class="dlist">
                            <dt>Coupon Amount:</dt>
                            <dd><b class="h5">-$<%= orderDetails[0].couponAmount %></b></dd>
                        </dl>
                        <dl class="dlist">
                            <dt>Grand Total:</dt>
                            <dd><b class="h5">$<%= orderDetails[0].totalAmount %></b></dd>
                        </dl>
                        


                        <% } else { %>
                            <dl class="dlist">
                                <dt>Order Total:</dt>
                                <dd><b class="h5">$<%= orderDetails[0].totalAmount + orderDetails[0].couponAmount %></b></dd>
                            </dl>
                            <dl class="dlist">
                                <dt>Coupon Amount:</dt>
                                <dd><b class="h5">No coupons added</b></dd>
                            </dl>
                            <dl class="dlist">
                                <dt>Grand Total:</dt>
                                <dd><b class="h5">$<%= orderDetails[0].totalAmount %></b></dd>
                            </dl>
                         
                     
                    <% } %>
                    
                </article>
            </td>
        </tr>
        
    
</tbody>



                        </table>
                        

                    </div> 
                </div> 
                <div class="col-lg-1"></div>

            </div>
            

           
            
            
        
        </div> 
        
    </div> 
</section> 



<script>
    function changeOrderStatus(orderId,productId,status,size){
        console.log(orderId);
        console.log(status);

        // let buttonId='changeStatus'+orderId;
        // let statusId='status'+orderId;
        swal('Do you want to change the order Status',{
                buttons:["No","Yes"]
        })
        .then((res)=>{
            if(res){
                $.ajax({
                    url:'/admin/orderStatusChange',
                    type:'post',
                    data:{
                        orderId:orderId,
                        productId:productId,

                        status:status,
                        size:size,
                    }
                })
                .done((res)=>{
                    if(res.status){
                        
                        
                            window.location.reload();
                            // const a = document.getElementById("status"+orderId)
                            // a.innerHTML=status
                            // document.getElementById(buttonId).innerHtml=nextButtonValue

                        
                    }

                })
                .fail((err)=>{
                    console.log(err);
                })
            }
                    
        })
                   
        
    }
</script>
<script>
    function approveReturn(orderId,productId,status,size){
        console.log(orderId);
        console.log(status);

        // let buttonId='changeStatus'+orderId;
        // let statusId='status'+orderId;
        swal('Do you want to change the order Status',{
                buttons:["No","Yes"]
        })
        .then((res)=>{
            if(res){
                const price = $(`#${productId}`).html();
                $.ajax({
                    url:`/admin/approveReturn/${price}`,
                    type:'post',
                    data:{
                        orderId:orderId,
                        productId:productId,

                        status:status,
                        size:size,
                    }
                })
                .done((res)=>{
                    if(res.status){
                        
                        
                            window.location.reload();
                            // const a = document.getElementById("status"+orderId)
                            // a.innerHTML=status
                            // document.getElementById(buttonId).innerHtml=nextButtonValue

                        
                    }

                })
                .fail((err)=>{
                    console.log(err);
                })
            }
                    
        })
                   
        
    }
</script>
<%- include("../partials/admin/admin-footer") %>



