<%- include("../partials/user/user-header") %>
    <main class="main">
     
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                role="tab" aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#track-orders" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i class="fi-rs-marker mr-10"></i>Add Address
                                                </Address></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#accountsecurity" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Accout Security</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#userwallet" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show " id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <%= userData.name %> !! </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a
                                                        href="#">recent orders</a>, manage your <a href="#">shipping and
                                                        billing addresses</a> and <a href="#">edit your password and
                                                        account details.</a><br><i class="bi bi-share-fill" onclick="refferalShare('<%=userData.referalCode%>')"> click , share and reffer someOne,And get 100 rs</i> Share referral code : <%= userData.referalCode %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table" id="orderTable">
                                                        <thead>
                                                            <tr>
                                                                <th>OrderId</th>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                
                                                                <th>Total</th>
                                                                
                                                                <th> View Details </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for( let i = 0; i < orderData.length; i++ ) { %>
                                                                <tr>
                                                                    <td><%= orderData[i].orderId %></td>
                                                                    <% if (orderData[i].products.length>1) { %>
                                                                        <td><img src="/public/uploads/<%= orderData[i].image %>" alt=""><a href="/orderDetails/<%= orderData[i]._id %>">+ more</a></td>
                                                                        <% } else { %>
                                                                            <td><img src="/public/uploads/<%= orderData[i].image %>" alt=""></td>
                                                                         
                                                                     
                                                                    <% } %>
                                                                    
                                                                    <td><%= orderData[i].formattedDate %></td>
                                                                    
                                                                    <td>$ <span id="orderPrice<%= orderData[i].orderId %>"><%= orderData[i].totalAmount %> </span>  for <%= orderData[i].quantity %> item</td>
                                                                    
                                                                                <td width="10%">
                                                                                    <% if (orderData[i].status==="payment pending") { %>
                                                                                        <a onclick="retryPayment('<%=orderData[i].orderId%>')" class="text-muted">Retry</a>
                                                                                        
                                                                                     
                                                                                    
                                                                                    <% } else { %>
                                                                                     
                                                                                    <a href="/orderDetails/<%= orderData[i]._id %>" class="btn btn-md rounded font-sm">Details</a>
                                                                                    <% } %>
                                                                                </td>

                                                                </tr>
                                                            <% } %>
                                                            
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            <% for( let i = 0; i < userData.address.length; i++ ) { %>
                                            
                                                <% if (userData.address[i].addressType===0) { %>
                                                 
                                                
                                                <div class="col-lg-6">
                                                    <div class="card mb-3 mb-lg-0">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">Billing Address</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <address><%= userData.address[i].name %><br> <%= userData.address[i].house %>,<br> <%= userData.address[i].city %>
                                                                <br><%= userData.address[i].state %> <br> <%= userData.address[i].pincode %> <br> <%= userData.address[i].country %>
                                                            </address>
                                                            <a href="/editAddress?addressId=<%= userData.address[i]._id %>" id="edit-address<%= userData.address[i]._id %>" class="btn btn-sm btn-dark rounded font-sm mt-15">Edit</a>
                                                            
                                                            <button id="delete-address<%= userData.address[i]._id %>" class="btn btn-sm btn-success rounded font-sm mt-15" onclick="deleteAddress('<%= userData.address[i]._id %>')">
                                                                Delete
                                                              </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } else { %>
                                                 
                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">Shipping Address</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <address><%= userData.address[i].name %><br> <%= userData.address[i].house %>,<br> <%= userData.address[i].city %>
                                                                <br><%= userData.address[i].state %> <br> <%= userData.address[i].pincode %> <br> <%= userData.address[i].country %>
                                                            </address>

                                                            <a href="/editAddress?addressId=<%= userData.address[i]._id %>" id="edit-address<%= userData.address[i]._id %>" class="btn btn-sm btn-dark rounded font-sm mt-15">Edit</a>
                                                            
                                                            <button id="delete-address<%= userData.address[i]._id %>" class="btn btn-sm btn-success rounded font-sm mt-15" onclick="deleteAddress('<%= userData.address[i]._id %>')">
                                                                Delete
                                                              </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <% } %>
                                           
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add Address</h5>
                                            </div>
                                            <div class="card-body">

                                                <form method="post" action="/addAddress" id="myForms" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>Full Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="name"
                                                                type="text" id="addressName">
                                                                <div id="errordiv1"></div>
                                                        </div>


                                                        <div class="form-group col-md-12">
                                                            <label>House<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="house"
                                                                type="text" id="addressHouse">
                                                                <div id="errordiv2"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>State<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="state"
                                                                type="text" id="addressState">
                                                                <div id="errordiv3"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Country<span class="required">*</span></label>
                                                            <input required="" class="form-control square"
                                                                name="country" type="text" id="addressCountry">
                                                                <div id="errordiv4"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>City<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="city"
                                                                type="text" id="addressCity">
                                                                <div id="errordiv5"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Pin Code<span class="required">*</span></label>
                                                            <input required="" class="form-control square"
                                                                name="pincode" type="text" id="addressPin">
                                                                <div id="errordiv6"></div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label>Address Type<span class="required">*</span></label>
                                                            <select name="addressType" id="address" class="form-select">
                                                                <option value="0">
                                                                    Billing Address
                                                                </option>
                                                                <option value="1">
                                                                    Shipping Address
                                                                </option>
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="col-md-12 mt-2">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                name="submit" value="Submit" id="addressButton">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <div class="row">
                                            <% for( let i = 0; i < userData.address.length; i++ ) { %>
                                            
                                            <% if (userData.address[i].addressType===0) { %>
                                             
                                            
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Billing Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address><%= userData.address[i].name %><br> <%= userData.address[i].house %>,<br> <%= userData.address[i].city %>
                                                            <br><%= userData.address[i].state %> <br> <%= userData.address[i].pincode %> <br> <%= userData.address[i].country %>
                                                        </address>
                                                        
                                                        <a href="#" class="btn-small" onclick="deleteAddress('<%= userData.address[i]._id %>')">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } else { %>
                                             
                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address><%= userData.address[i].name %><br> <%= userData.address[i].house %>,<br> <%= userData.address[i].city %>
                                                            <br><%= userData.address[i].state %> <br> <%= userData.address[i].pincode %> <br> <%= userData.address[i].country %>
                                                        </address>
                                                        
                                                        <a href="#" class="btn-small" onclick="deleteAddress('<%= userData.address[i]._id %>')">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">

                                                <form method="put" name="enqs" id="enqs" action="/editAccountdata">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>Full Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="accountName" id="accname"
                                                                type="text" value="<%= userData.name %>">
                                                                <div id="errordiv7"></div>
                                                        </div>


                                                        <div class="form-group col-md-12">
                                                            <label>Email<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="accountEmail" id="accemail"
                                                                type="text" value="<%= userData.email %>">
                                                                <div id="errordiv8"></div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Phone<span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="accountMobile" id="accmobile"
                                                                type="text" value="<%= userData.mobile %>">
                                                                <div id="errordiv9"></div>
                                                        </div>
                                                        
                                                        
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label>Enter Password <span
                                                                    class="required">*</span></label>
                                                            <input required="" class="form-control square"
                                                                name="accountPassword" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                name="submit" value="Submit" id="accButton">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="accountsecurity" role="tabpanel" aria-labelledby="address-tab">
                                       
                                        <div class="row">
                                           
                                            <div class="col-lg-8">
                                                <div class="card mt-2 mb-3 mb-lg-0 black-border">
                                                    <div class="card-header" >
                                                        <h5 >Edit Password</h5>
                                                    </div>
                                                    <div class="card-body" >
                                                        <form class="" method="post" action="/changepassword" id="passform">
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label>Current Password <span class="required">*</span></label>
                                                                    <input required="" id="currPassword" class="form-control square black-border" name="currentpassword" type="password" placeholder="currentpassword">
                                                                    <div id="error1"></div>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>New Password <span class="required">*</span></label>
                                                                    <input required="" id="password1" class="form-control square black-border" name="password1" type="password" placeholder="newpassword">
                                                                    <div id="error2"></div>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label>Confirm Password <span class="required">*</span></label>
                                                                    <input required="" id="password2" class="form-control square black-border" name="password2" type="password" placeholder="confirm password">
                                                                    <div id="error3"></div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <button type="submit" class="btn btn-fill-out "  name="submit" value="Submit">change</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        
                                                       
                                                        
                                                        
                                                    </div>
                                            
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade  show " id="userwallet" role="wallettabpanel"
                                        aria-labelledby="dashboar">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Wallet <br>(Balance: <span class="text-primary">$<%= walletData.wallet.balance %></span>)</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <!-- Your table content goes here -->
                                                        <div class="table-responsive">
                                                            <table class="table" id="walletTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Transaction Id</th>
                                                                        <th>Date</th>
                                                                        <th>Amount</th>
                                                                        <th>Transaction Type</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% for( let i = 0; i <walletData.wallet.details.length; i++ ) { %>
                                                                        <tr>
                                                                            <td><%= walletData.wallet.details[i].transactionId %></td>
                                                                            <td><%= walletData.wallet.details[i].formattedDate %></td>
                                                                            <td>$<%= walletData.wallet.details[i].amount %></td>
                                                                            <td width="10%"><%= walletData.wallet.details[i].type %></td>
                                                                        </tr>
                                                                    <% } %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <!-- Add Money button -->
                                                        <div class="text-end">
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMoney" data-bs-whatever="@getbootstrap">Add Money +</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addMoney" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="couponModalLabel">Enter Amount</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="mb-30 font-sm">please enter the amount you want to add to your wallet</p>
                            <form action="/addMoney" method="post" id="walletForm">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Amount..." name="couponCode" id="amountWallet">
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-md" name="login" style="background-color: rgb(48, 129, 98);" type="submit"><Address>



                                    </Address>Add Money</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
          
        </section>
        <section class="section-padding footer-mid">
          <div class="container pt-15 pb-20">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="widget-about font-md mb-md-5 mb-lg-0">
                  
                  <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">
                    Contact
                  </h5>
                  <p class="wow fadeIn animated">
                    <strong>Address: </strong>562 Wellington Road, Street 32, San
                    Francisco
                  </p>
                  <p class="wow fadeIn animated">
                    <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                  </p>
                  <p class="wow fadeIn animated">
                    <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                  </p>
                  <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">
                    Follow Us
                  </h5>
                  <div
                    class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0"
                  >
                    <a href="#"
                      ><img
                        src="/public/user/assets/imgs/theme/icons/icon-facebook.svg"
                        alt=""
                    /></a>
                    <a href="#"
                      ><img
                        src="/public/user/assets/imgs/theme/icons/icon-twitter.svg"
                        alt=""
                    /></a>
                    <a href="#"
                      ><img
                        src="/public/user/assets/imgs/theme/icons/icon-instagram.svg"
                        alt=""
                    /></a>
                    <a href="#"
                      ><img
                        src="/public/user/assets/imgs/theme/icons/icon-pinterest.svg"
                        alt=""
                    /></a>
                    <a href="#"
                      ><img
                        src="/public/user/assets/imgs/theme/icons/icon-youtube.svg"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-3">
                <h5 class="widget-title wow fadeIn animated">About</h5>
                <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Support Center</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-3">
                <h5 class="widget-title wow fadeIn animated">My Account</h5>
                <ul class="footer-list wow fadeIn animated">
                  <li><a href="#">Sign In</a></li>
                  <li><a href="#">View Cart</a></li>
                  <li><a href="#">My Wishlist</a></li>
                  <li><a href="#">Track My Order</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Order</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5 class="widget-title wow fadeIn animated">Install App</h5>
                <div class="row">
                  <div class="col-md-8 col-lg-12">
                    <p class="wow fadeIn animated">
                      From App Store or Google Play
                    </p>
                    <div class="download-app wow fadeIn animated">
                      <a href="#" class="hover-up mb-sm-4 mb-lg-0"
                        ><img
                          class="active"
                          src="/public/user/assets/imgs/theme/app-store.jpg"
                          alt=""
                      /></a>
                      <a href="#" class="hover-up"
                        ><img
                          src="/public/user/assets/imgs/theme/google-play.jpg"
                          alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                    <p class="mb-20 wow fadeIn animated">
                      Secured Payment Gateways
                    </p>
                    <img
                      class="wow fadeIn animated"
                      src="/public/user/assets/imgs/theme/payment-method.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
      </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  
    <script src="/public/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/assets/js/plugins/slick.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/assets/js/plugins/wow.js"></script>
    <script src="/public/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/assets/js/plugins/select2.min.js"></script>
    <script src="/public/user/assets/js/plugins/waypoints.js"></script>
    <script src="/public/user/assets/js/plugins/counterup.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/public/user/assets/js/plugins/isotope.js"></script>
    <script src="/public/user/assets/js/plugins/scrollup.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./public/user/assets/js/main.js?v=3.4"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
        $('#orderTable').DataTable();
    });

    </script>
    <script>
        window.onload = function() {
            const order = location.hash;
            if (order === "#orders") {
                const orderId = document.getElementById('orders-tab');
                orderId.click();
            }
        };
    </script>
    
    <script>
        $(document).ready(function () {
        $('#walletTable').DataTable();
    });

    </script>
    <script>
        
const nam = document.getElementById('accname')
const mob = document.getElementById('accmobile')
const email = document.getElementById('accemail')
const errdiv1 = document.getElementById('errordiv7')
const errdiv2 = document.getElementById('errordiv8')
const errdiv3 = document.getElementById('errordiv9')

const accform = document.getElementById('accButton')

function emailvalidate(e){
    
    const emailval = email.value
    const emailpattern = /^([a-zA-Z0-9._-]+)@([a-zA-Z.-]+).([a-zA-z]{2,4})$/ 
    if(!emailpattern.test(emailval))
    {    
        errdiv2.style.display = "block"
        errdiv2.innerHTML = "Invalid Format!!"
    }
    else{
        errdiv2.style.display = "none"
        errdiv2.innerHTML = ""
    }
}





function namevalidate() {
    const nameval = nam.value.trim(); // Trim whitespace from both ends of the input

    // Regular expression to match only alphabets
    const alphabetsRegex = /^[a-zA-Z]+$/;

    if (nameval === "" || !alphabetsRegex.test(nameval)) {
        errdiv1.style.display = "block";
        errdiv1.innerHTML = "Please enter a valid name containing only alphabets.";
    } else {
        errdiv1.style.display = "none";
        errdiv1.innerHTML = "";
    }
}


function mobvalidate() {
    const mobval = mob.value.trim(); // Trim whitespace from both ends of the input

    // Regular expression to match only numbers
    const numbersRegex = /^[0-9]+$/;

    if (mobval === "") {
        errdiv3.style.display = "block";
        errdiv3.innerHTML = "Please enter a valid Mobile Number.";
    } else if (mobval.length !== 10 || !numbersRegex.test(mobval)) {
        errdiv3.style.display = "block";
        errdiv3.innerHTML = "Please enter exactly 10 digits.";
    } else {
        errdiv3.style.display = "none";
        errdiv3.innerHTML = "";
    }
}


email.addEventListener('blur', emailvalidate)
nam.addEventListener('blur',namevalidate)
mob.addEventListener('blur',mobvalidate)




accform.addEventListener('click',function(e){
        emailvalidate()
        namevalidate()
        mobvalidate()
        
        
        if(errdiv2.innerHTML || errdiv3.innerHTML || errdiv1.innerHTML )
        {
            e.preventDefault()
        }
})
    </script>
<script>

const addressName = document.getElementById('addressName')
const addressHouse = document.getElementById('addressHouse')
const addressState = document.getElementById('addressState')
const addressCountry = document.getElementById('addressCountry')
const addressCity = document.getElementById('addressCity')
const addressPin = document.getElementById('addressPin')
const errordiv1 = document.getElementById('errordiv1')
const errordiv2 = document.getElementById('errordiv2')
const errordiv3 = document.getElementById('errordiv3')
const errordiv4 = document.getElementById('errordiv4')
const errordiv5 = document.getElementById('errordiv5')
const errordiv6 = document.getElementById('errordiv6')
const regforms = document.getElementById('addressButton')







function namevalidate() {
    const nameval = addressName.value;
    const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
    
    if (nameval.trim() === "") {
        errordiv1.style.display = "block";
        errordiv1.innerHTML = "Please enter a valid name.";
    } else if (!alphabeticRegex.test(nameval)) {
        errordiv1.style.display = "block";
        errordiv1.innerHTML = "Name should contain only alphabetic characters.";
    } else {
        errordiv1.style.display = "none";
        errordiv1.innerHTML = "";
    }
}
function housevalidate(){
    const nameval = addressHouse.value
    if(nameval.trim() === "")
    {
        errordiv2.style.display = "block"
        errordiv2.innerHTML = "Please Enter a valid Name."
    }
    else{
        errordiv2.style.display = "none"
        errordiv2.innerHTML = ""
    }
}

function statevalidate() {
    const nameval = addressState.value;
    const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
    
    if (nameval.trim() === "") {
        errordiv3.style.display = "block";
        errordiv3.innerHTML = "Please enter a valid state name.";
    } else if (!alphabeticRegex.test(nameval)) {
        errordiv3.style.display = "block";
        errordiv3.innerHTML = "State name should contain only alphabetic characters.";
    } else {
        errordiv3.style.display = "none";
        errordiv3.innerHTML = "";
    }
}

function countryvalidate() {
    const nameval = addressCountry.value;
    const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
    
    if (nameval.trim() === "") {
        errordiv4.style.display = "block";
        errordiv4.innerHTML = "Please enter a valid country name.";
    } else if (!alphabeticRegex.test(nameval)) {
        errordiv4.style.display = "block";
        errordiv4.innerHTML = "Country name should contain only alphabetic characters.";
    } else {
        errordiv4.style.display = "none";
        errordiv4.innerHTML = "";
    }
}

function cityvalidate() {
    const nameval = addressCity.value;
    const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
    
    if (nameval.trim() === "") {
        errordiv5.style.display = "block";
        errordiv5.innerHTML = "Please enter a valid city name.";
    } else if (!alphabeticRegex.test(nameval)) {
        errordiv5.style.display = "block";
        errordiv5.innerHTML = "City name should contain only alphabetic characters.";
    } else {
        errordiv5.style.display = "none";
        errordiv5.innerHTML = "";
    }
}






function pinvalidate() {
    const addressPinval = addressPin.value;
    const numericRegex = /^[0-9]+$/; // Regex to match only numbers
    
    if (addressPinval.trim() === "") {
        errordiv6.style.display = "block";
        errordiv6.innerHTML = "Please enter a valid pincode.";
    } else if (addressPinval.length !== 6 || !numericRegex.test(addressPinval)) {
        errordiv6.style.display = "block";
        errordiv6.innerHTML = "Please enter a valid 6-digit pincode containing only numbers.";
    } else {
        errordiv6.style.display = "none";
        errordiv6.innerHTML = "";
    }
}


addressName.addEventListener('blur', namevalidate)
addressHouse.addEventListener('blur',housevalidate)
addressState.addEventListener('blur',statevalidate)
addressCountry.addEventListener('blur',countryvalidate)
addressCity.addEventListener('blur',cityvalidate)
addressPin.addEventListener('blur',pinvalidate)



regforms.addEventListener('click',function(e){
        namevalidate()
        housevalidate()
        statevalidate()
        countryvalidate()
        cityvalidate()
        pinvalidate()
        
        if(errordiv2.innerHTML || errordiv4.innerHTML || errordiv1.innerHTML || errordiv3.innerHTML || errordiv5.innerHTML  || errordiv6.innerHTML  )
        {
            e.preventDefault()
        }
})
</script>
    
    
    
    
    <script>
        $(document).ready(function () {
            $("#myForms").submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: "/addAddress",
                    method: "PUT",
                    data: formData,
                    success: (response) => {
                        if (response.status) {
                            Toastify({
                                text: "Address Added",
                                duration: 3000,
                                gravity: "top", // top or bottom
                                position: "center", // left, center or right
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                style: {
                                    background: "linear-gradient(to right, aqua, blue)",
                                },
                            }).showToast();
                            setTimeout(() => {
                                location.reload();
                            }, 1000);
                        }else{
                            Toastify({
                                text: "Something wrong",
                                duration: 3000,
                                gravity: "top", // top or bottom
                                position: "center", // left, center or right
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                style: {
                                    background: "linear-gradient(to right, red, white)",
                                },
                            }).showToast();
                        }
                    }

                })
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $("#enqs").submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: "/editAccount",
                    method: "PUT",
                    data: formData,
                    success: (response) => {
                        if (response.editStatus) {
                            Toastify({
                                text: `${response.message}`,
                                duration: 3000,
                                gravity: "top", // top or bottom
                                position: "center", // left, center or right
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                style: {
                                    background: "linear-gradient(to right, aqua, blue)",
                                },
                            }).showToast();
                            setTimeout(() => {
                                location.reload();
                            }, 1000);
                        }else{
                            Toastify({
                                text: `${response.message}`,
                                duration: 3000,
                                gravity: "top", // top or bottom
                                position: "center", // left, center or right
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                style: {
                                    background: "linear-gradient(to right, red, white)",
                                },
                            }).showToast();
                        }
                    }

                })
            })
        })
    </script>
   <script>
    function deleteAddress(addressId) {
        
    //   swal("Are you sure you want to delete this address", {
    //     buttons: ["cancel", "ok"],
    //   }).then((res) => {
    //     if (res) {
          $.ajax({
            url: "/deleteAddress/" + addressId,
            type: "patch",
          }).done((res) => {
            if (res) {
              if (res.status) {  //to show green button and green toast message
  
                Toastify({
                  text: "Address deleted successfully",
                  duration: 3000,
                  gravity: "top", // `top` or `bottom`
                  position: "center", // `left`, `center` or `right`
                  stopOnFocus: true, // Prevents dismissing of toast on hover
                  style: {
                    background: "green",
                  },
                }).showToast();
                setTimeout(() => {
                                location.reload();
                            }, 1000);
  
                
              } else {
  
                Toastify({
                  text: "something went wrong",
                  duration: 3000,
                  gravity: "top", // `top` or `bottom`
                  position: "center", // `left`, `center` or `right`
                  stopOnFocus: true, // Prevents dismissing of toast on hover
                  style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                  },
                }).showToast();
  
                
              }
              
            }
          });
        }
    //   });
    // }
  </script>
     <script>
        const pass1 = document.getElementById('password1');
const pass2 = document.getElementById('password2');
const error2 = document.getElementById('error2');
const error3 = document.getElementById('error3');
const myForm = document.getElementById('passform')


function passvalidate(e){
    const passval = pass1.value
    const alpha = /[a-zA-Z]/
    const digit = /\d/


    error2.innerHTML = '';
        


    if(passval.length < 8)
    {   
        error2.style.display = "block"
        error2.innerHTML = "Must have atleast 8 characters"
        return false;
    }
    else if(!alpha.test(passval) || !digit.test(passval) )
    {
        error2.style.display = "block"
        error2.innerHTML = "Should contain Numbers and Alphabets!!"
        return false;
    }
    else{

        error2.style.display = "none"
        error2.innerHTML = ""
        return true;
    }
}

function passmatch(){
    
        error3.innerHTML = '';
    if(pass1.value!=pass2.value){

error3.style.display = "block"
error3.innerHTML = "password doesn't match"
return false;
}
return true;


}



pass1.addEventListener('blur',passvalidate)

myForm.addEventListener('submit',function(e){
    
    const checkk=passvalidate();

     const check = passmatch();

     if(!check||!checkk){
        e.preventDefault();
     }
     

    

    
})

    </script>
    <script>
        const cancelOrder = (orderId) => {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You will not be able to undo this',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel',
                reverseButtons: true,
            }).then((response) => {
                console.log(response);
                if (response.isConfirmed) {
                    $.ajax({
                        url: `/cancelOrder/${orderId}`,
                        type: 'PATCH'
                    }).done(response => {
                        Swal.fire("Successfull", "Order Cancelled", "success").then(() => {
                            location.reload();
                        })
                    }).fail((error) => {
                        Swal.fire("Successfull",` ${error.responseJSON.message}`, "success").then(() => {
                            location.reload()
                        })
                    })
                }
            })
        }
    </script>

<script>
    $(document).ready(function () {
        $("#walletForm").submit(function (e) {
            e.preventDefault(); // Prevent default form submission

            
           
            

   
      console.log("razorpay selected");
      const totalPrice = document.getElementById("amountWallet").value;

      fetch('/createorder', {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ totalPrice })
      }).then(response => response.json())
        .then(data => {
          const parseAmount = parseInt(totalPrice)
          console.log(data);
          var options = {
            "key": "rzp_test_3xAnxikxa5xZNZ",
            "amount": 100000,
            "currency": "INR",
            "name": "Watchex",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": data.orderId.id,
            "handler": function (response) {
              console.log(response);
              console.log("Hello")

              verify(response, data.orderId.id)
              console.log("hey")
            },
            "prefill": {
              "name": "Gaurav Kumar",
              "email": "gaurav.kumar@example.com",
              "contact": "9000090000"
            },
            "notes": {
              "address": "Razorpay Corporate Office"
            },
            "theme": {
              "color": "#3399cc"
            }
          };
          var rzp = new Razorpay(options)
          rzp.open();

          function verify(response, orderId) {
            console.log(response, orderId);
            fetch('/paymentSuccess', {
              method: 'post',
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                paymentid: response.razorpay_payment_id,
                razorpayorderid: response.razorpay_order_id,
                signature: response.razorpay_signature,
                orderId
              })
            })
              .then(response => response.json())
              .then((data) => {
                if (data.success) {

                  fetch('/addMoneyToWallet', {
                    method: 'PATCH',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(
                      {totalPrice}
                    ),

                  })

                    .then(response => response.json())
                    .then(data => {
                      console.log(data);
                      window.location.href = '/profileView'
                    })
                    .catch((error) => {
                      console.error('Error:', error);
                    })
                } else {

                  console.error('Payment failed:', data.error);

                  alert('Payment failed. Please try again later.');
                }
              })
              .catch(error => {
                // Handle any errors that occur during the fetch operation
                console.error('Error:', error);
              });
          }
        })


    

           
        });
    });
</script>
<script>
   function retryPayment(orderIds) {
        
          

            
           
            

   
      console.log("razorpay");
      console.log(orderIds);
      const totalPric = document.getElementById("orderPrice"+orderIds).textContent;
      console.log(totalPric);


      fetch('/createorders', {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ totalPric })
      }).then(response => response.json())
        .then(data => {
          const parseAmount = parseInt(totalPric)
          console.log(data);
          var options = {
            "key": "rzp_test_3xAnxikxa5xZNZ",
            "amount": 100000,
            "currency": "INR",
            "name": "Watchex",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": data.orderId.id,
            "handler": function (response) {
              console.log(response);
              console.log("Hello")

              verify(response, data.orderId.id)
              console.log("hey")
            },
            "prefill": {
              "name": "Gaurav Kumar",
              "email": "gaurav.kumar@example.com",
              "contact": "9000090000"
            },
            "notes": {
              "address": "Razorpay Corporate Office"
            },
            "theme": {
              "color": "#3399cc"
            }
          };
          var rzp = new Razorpay(options)
          rzp.open();

          function verify(response, orderId) {
            console.log(response, orderId);
            fetch('/paymentSuccesses', {
              method: 'post',
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                paymentid: response.razorpay_payment_id,
                razorpayorderid: response.razorpay_order_id,
                signature: response.razorpay_signature,
                orderId
              })
            })
              .then(response => response.json())
              .then((data) => {
                if (data.success) {

                  fetch('/retryPayment', {
                    method: 'PATCH',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(
                      {totalPrice:totalPric,orderIds:orderIds}
                    ),

                  })

                    .then(response => response.json())
                    .then(data => {
                      console.log(data);
                      window.location.href = '/orderSuccess'
                    })
                    .catch((error) => {
                      console.error('Error:', error);
                    })
                } else {

                  console.error('Payment failed:', data.error);

                  alert('Payment failed. Please try again later.');
                }
              })
              .catch(error => {
                // Handle any errors that occur during the fetch operation
                console.error('Error:', error);
              });
          }
        })


    

           
        
    }
</script>
<script>
    async function refferalShare(userRefferalCode) {
    // console.log(userRefferalCode);

    if (navigator.share) {
        
        const shareData = {
            title: 'Watchex',
            text: `Use my referral code ${userRefferalCode} to sign up and explore `,
            
        };

        
        try {
            await navigator.share(shareData);
            console.log('Shared successfully');
        } catch (error) {
            console.error('Error sharing:', error);
        }
    } else {
        console.log('Web Share API is not supported in this browser');
    }
}
</script>
</body>

</html>