<%- include("../partials/user/user-header") %>
    <main class="main">
        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <!-- Button to trigger the modal -->
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Available Coupons</span> <a href="#couponModal" data-bs-toggle="modal">See More</a></span>
                        </div>
                    </div>
<!-- Modal -->
<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Coupon Name</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Minimum Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i<coupons.length; i++) { %>
                            <tr>
                                <td><%= coupons[i].couponName %></td>
                                <td><%= coupons[i].code %></td>
                                <td>$<%= coupons[i].minAmount %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


                  <!-- Button to trigger the modal -->
<div class="col-lg-6">
    <div class="toggle_info">
        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#couponsModal" data-bs-toggle="modal">Click here to enter your code</a></span>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="couponsModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponModalLabel">Enter Coupon Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                <form action="/applyCoupon" method="post" id="couponForm">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Coupon Code..." name="couponCode">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-md" name="login" style="background-color: rgb(66, 195, 145);" type="submit">Apply Coupon</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

                  </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="container mt-5">

                        
                        <form action="/proceedPayment" id="myForm" method="post">
                            <div class="row">
                                <!-- Address Section (Left Column) -->
                                <div class="col-md-6">
                                    
                                    <div class="row gy-4">
                                        <% userData.address.forEach(element=> { %>
                                        <div class="col-md-12 mb-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%=element.name %>
                                                    </h5>
                                                    <p class="card-text">
                                                        <%= element.house %> , <br>
                                                        <%= element.state %> , <%= element.city %>, <%= element.country %> <br> Pincode:
                                                        <%=element.pincode %>
                                                    </p>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="form-check">
                                                            <input type="radio" class="form-check-input" style="border-color: black; outline: none;" name="address" id="address-1"
                                                                value="<%= element._id %>" checked>
                                                            <label for="address-1" class="form-check-label">Select this address</label>
                                                        </div>
                                                        <a onclick="getAddress('<%= element._id %>')"
                                                            class="btn btn-sm btn-success rounded font-sm mt-15" type="button"  data-bs-toggle="modal" data-bs-target="#editAddress"
                                                            data-bs-whatever="@getbootstrap">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                    </div>
                                </div>
                                
                    
                                <!-- Order Details Section (Right Column) -->
                                <div class="col-md-6">
                                    <div class="order_review">
                                        <div class="mb-20">
                                            <h4>Your Orders</h4>
                                        </div>
                                        <div class="table-responsive order_table text-center">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for( let i=0; i < cartItems.length; i++ ) { %>
                                                    <tr>
                                                        <td class="image product-thumbnail"><img src="/public/uploads/<%= cartItems[i].product.image[0] %>" alt="#">
                                                        </td>
                                                        <td>
                                                            <h5><a href="#" class="text-dark">
                                                                    <%= cartItems[i].product.product_name %>
                                                                </a></h5> <span class="product-qty">x <%= cartItems[i].quantity %></span>
                                                        </td>
                                                        <td id="<%= cartItems[i].product._id %>">
                                                            $<%= cartItems[i].product.offerPrice * cartItems[i].quantity %>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                                    
                                                    <% if (couponStatus) { %>
                                                        <tr>
                                                            <th>SubTotal</th>
                                                            <td class="product-subtotal" colspan="2" class="text-dark">
                                                                $<%=totalandSubTotal + couponAdded.discount %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Coupon</th>
                                                            <td colspan="2" class="text-dark"><em>-<%= couponAdded.discount %></em></td>
                                                        </tr>

                                                        <% } else { %>
                                                            <tr>
                                                                <th>SubTotal</th>
                                                                <td class="product-subtotal" colspan="2" class="text-dark">
                                                                    $<%=totalandSubTotal%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Coupon</th>
                                                                <td colspan="2" class="text-dark"><em>No Coupons Added</em></td>
                                                            </tr>
                                                         
                                                     
                                                    <% } %>
                                                  
                                                    <tr>
                                                        <th>Shipping</th>
                                                        <td colspan="2" class="text-dark"><em>Free Shipping</em></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <td colspan="2" class="product-subtotal font-xl text-dark fw-900" >$<span class="font-xl text-dark fw-900" id="totalAmountCart">
                                                                <%=totalandSubTotal%>
                                                            </span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="payment_method">
                                            <div class="mb-25">
                                                <h5>Payment</h5>
                                            </div>
                                            <div class="payment_option">
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3"
                                                      checked="" value="wallet">
                                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                                      data-target="#bankTranfer" aria-controls="bankTranfer">Wallet</label>
                                                    <div class="form-group collapse in" id="bankTranfer">
                                                      <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the
                                                        majority have suffered alteration. </p>
                                                    </div>
                                                  </div>
                                                  <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4"
                                                      checked="" value="COD">
                                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse"
                                                      data-target="#checkPayment" aria-controls="checkPayment">Cash On Delivery</label>
                                                    <div class="form-group collapse in" id="checkPayment">
                                                      <p class="text-muted  mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store
                                                        State / County, Store Postcode. </p>
                                                    </div>
                                                  </div>
                                                  <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5"
                                                      value="Razorpay" checked="">
                                                    <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal"
                                                      aria-controls="paypal">Razorpay</label>
                                                    <div class="form-group collapse in" id="paypal">
                                                      <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a
                                                        PayPal account.</p>
                                                    </div>
                                                  </div>
                                                <!-- Your Payment Options Here -->
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-fill-out btn-block mt-30">Place Order</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form id="formId" action="/addressPost" method="post">

                        <div class="ship_detail">
                            <div class="form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <!-- <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress"> -->
                                        <label data-bs-toggle="collapse" data-target="#collapseAddress"
                                            href="#collapseAddress" aria-controls="collapseAddress"
                                            for="differentaddress"><button class="btn btn-primary">Create
                                                New Address</button></label>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseAddress" class="different_address collapse in">
                                <div class="form-group">
                                    <label>Full Name <span class="required">*</span></label>
                                                <input required="" class="form-control square" name="name" id="adname"
                                                    type="text">
                                </div>
                                <p><span id="errr1" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>

                                <div class="form-group">
                                    <label>House<span class="required">*</span></label>
                                                <input required="" class="form-control square" name="house" id="adhouse"
                                                    type="text">
                                </div>
                                <p><span id="errr2" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>

                                <div class="form-group">
                                    <label>State<span class="required">*</span></label>
                                                <input required="" class="form-control square" name="state" id="adstate"
                                                    type="text">
                                </div>
                                <p><span id="errr3" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>

                                <div class="form-group">
                                    <label>Country<span class="required">*</span></label>
                                                <input required="" class="form-control square" id="adcountry"
                                                    name="country" type="text">
                                </div>
                                <p><span id="errr4" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>

                                <div class="form-group">
                                    <label>City<span class="required">*</span></label>
                                                <input required="" class="form-control square" name="city" id="adcity"
                                                    type="text">
                                </div>
                                <p><span id="errr5" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>

                                <div class="form-group">
                                    <label>Pin Code<span class="required">*</span></label>
                                    <input required="" class="form-control square" id="adpin"
                                        name="pincode" type="text">
                                </div>
                                <p><span id="errr6" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>

                                <div class="form-group col-md-4">
                                    <label>Address Type<span class="required">*</span></label>
                                                <select name="addressType" id="address" class="form-select">
                                                    <option value="0">
                                                        Billing Address
                                                    </option>
                                                    <option value="1">
                                                        Shipping Address
                                                    </option>
                                                </select>
                                </div>
                                <p><span id="error7" style="display: none;"
                                        class="mt-15 err text-danger"></span></p>
                                
                                <div>
                                    <button type="submit" class="btn btn-fill-out submit"
                                                    name="submit" value="Submit">Save</button>
                                </div><br>
                            </div>
                        </div>

                    </form>
                    
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/user/assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>

    <!-- modale for edit address -->



        <div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Adress</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/edit-address" method="post" id="regformsss">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="addressname">
                                <div id="err1"></div>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Coupon Code</label>
                                <input type="text" class="form-control" name="couponCode" id="couponCode">
                            </div> -->
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">House</label>
                                <input type="text" class="form-control" name="house" id="addresshouse">
                                <div id="err2"></div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">State</label>
                                <input type="text" class="form-control" name="state" id="addressstate">
                                <div id="err3"></div>
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Country</label>
                                <input type="text" class="form-control" name="country" id="addresscountry">
                                <div id="err4"></div>
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">City</label>
                                <input type="text" class="form-control" name="city" id="addresscity">
                                <div id="err5"></div>
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Pincode</label>
                                <input type="number" class="form-control" name="pincode" id="addresspincode">
                                <div id="err6"></div>
                            </div>
                            <div class="mb-3">
                                <input type="hidden" class="form-control" id="addressIdd" name="addressId" />
                            </div>
        
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update Address</button>
                            </div>
        
                        </form>
                    </div>
        
                </div>
            </div>
        </div>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/public/user/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/public/user/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/public/user/assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/user/assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    
        <script>

        const addressName = document.getElementById('addressname')
        const addressHouse = document.getElementById('addresshouse')
        const addressState = document.getElementById('addressstate')
        const addressCountry = document.getElementById('addresscountry')
        const addressCity = document.getElementById('addresscity')
        const addressPin = document.getElementById('addresspincode')
        const err1 = document.getElementById('err1')
        const err2 = document.getElementById('err2')
        const err3 = document.getElementById('err3')
        const err4 = document.getElementById('err4')
        const err5 = document.getElementById('err5')
        const err6 = document.getElementById('err6')
        const regforms = document.getElementById('regformsss')
        
        
        
        
        
        
        
        function namevalidate() {
            const nameval = addressName.value;
            const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
            
            if (nameval.trim() === "") {
                err1.style.display = "block";
                err1.innerHTML = "Please enter a valid name.";
            } else if (!alphabeticRegex.test(nameval)) {
                err1.style.display = "block";
                err1.innerHTML = "Name should contain only alphabetic characters.";
            } else {
                err1.style.display = "none";
                err1.innerHTML = "";
            }
        }
        function housevalidate(){
            const nameval = addressHouse.value
            if(nameval.trim() === "")
            {
                err2.style.display = "block"
                err2.innerHTML = "Please Enter a valid Name."
            }
            else{
                err2.style.display = "none"
                err2.innerHTML = ""
            }
        }
        
        function statevalidate() {
            const nameval = addressState.value;
            const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
            
            if (nameval.trim() === "") {
                err3.style.display = "block";
                err3.innerHTML = "Please enter a valid state name.";
            } else if (!alphabeticRegex.test(nameval)) {
                err3.style.display = "block";
                err3.innerHTML = "State name should contain only alphabetic characters.";
            } else {
                err3.style.display = "none";
                err3.innerHTML = "";
            }
        }
        
        function countryvalidate() {
            const nameval = addressCountry.value;
            const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
            
            if (nameval.trim() === "") {
                err4.style.display = "block";
                err4.innerHTML = "Please enter a valid country name.";
            } else if (!alphabeticRegex.test(nameval)) {
                err4.style.display = "block";
                err4.innerHTML = "Country name should contain only alphabetic characters.";
            } else {
                err4.style.display = "none";
                err4.innerHTML = "";
            }
        }
        
        function cityvalidate() {
            const nameval = addressCity.value;
            const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
            
            if (nameval.trim() === "") {
                err5.style.display = "block";
                err5.innerHTML = "Please enter a valid city name.";
            } else if (!alphabeticRegex.test(nameval)) {
                err5.style.display = "block";
                err5.innerHTML = "City name should contain only alphabetic characters.";
            } else {
                err5.style.display = "none";
                err5.innerHTML = "";
            }
        }
        
        
        
        
        
        
        function pinvalidate() {
            const addressPinval = addressPin.value;
            const numericRegex = /^[0-9]+$/; // Regex to match only numbers
            
            if (addressPinval.trim() === "") {
                err6.style.display = "block";
                err6.innerHTML = "Please enter a valid pincode.";
            } else if (addressPinval.length !== 6 || !numericRegex.test(addressPinval)) {
                err6.style.display = "block";
                err6.innerHTML = "Please enter a valid 6-digit pincode containing only numbers.";
            } else {
                err6.style.display = "none";
                err6.innerHTML = "";
            }
        }
        
        
        addressName.addEventListener('blur', namevalidate)
        addressHouse.addEventListener('blur',housevalidate)
        addressState.addEventListener('blur',statevalidate)
        addressCountry.addEventListener('blur',countryvalidate)
        addressCity.addEventListener('blur',cityvalidate)
        addressPin.addEventListener('blur',pinvalidate)
        
        
        
        regforms.addEventListener('submit',function(e){
                namevalidate()
                housevalidate()
                statevalidate()
                countryvalidate()
                cityvalidate()
                pinvalidate()
                
                if(err2.innerHTML || err4.innerHTML || err1.innerHTML || err3.innerHTML || err5.innerHTML  || err6.innerHTML  )
                {
                    e.preventDefault()
                }
        })

        </script>
        <script>

            const addressName1 = document.getElementById('adname')
            const addressHouse1 = document.getElementById('adhouse')
            const addressState1 = document.getElementById('adstate')
            const addressCountry1 = document.getElementById('adcountry')
            const addressCity1 = document.getElementById('adcity')
            const addressPin1 = document.getElementById('adpin')
            const errr1 = document.getElementById('errr1')
            const errr2 = document.getElementById('errr2')
            const errr3 = document.getElementById('errr3')
            const errr4 = document.getElementById('errr4')
            const errr5 = document.getElementById('errr5')
            const errr6 = document.getElementById('errr6')
            const editforms = document.getElementById('formId')
            
            
            
            
            
            
            
            function namevalidate() {
                const nameval = addressName1.value;
                const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
                
                if (nameval.trim() === "") {
                    errr1.style.display = "block";
                    errr1.innerHTML = "Please enter a valid name.";
                } else if (!alphabeticRegex.test(nameval)) {
                    errr1.style.display = "block";
                    errr1.innerHTML = "Name should contain only alphabetic characters.";
                } else {
                    errr1.style.display = "none";
                    errr1.innerHTML = "";
                }
            }
            function housevalidate(){
                const nameval = addressHouse1.value
                if(nameval.trim() === "")
                {
                    errr2.style.display = "block"
                    errr2.innerHTML = "Please Enter a valid Name."
                }
                else{
                    errr2.style.display = "none"
                    errr2.innerHTML = ""
                }
            }
            
            function statevalidate() {
                const nameval = addressState1.value;
                const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
                
                if (nameval.trim() === "") {
                    errr3.style.display = "block";
                    errr3.innerHTML = "Please enter a valid state name.";
                } else if (!alphabeticRegex.test(nameval)) {
                    errr3.style.display = "block";
                    errr3.innerHTML = "State name should contain only alphabetic characters.";
                } else {
                    errr3.style.display = "none";
                    errr3.innerHTML = "";
                }
            }
            
            function countryvalidate() {
                const nameval = addressCountry1.value;
                const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
                
                if (nameval.trim() === "") {
                    errr4.style.display = "block";
                    errr4.innerHTML = "Please enter a valid country name.";
                } else if (!alphabeticRegex.test(nameval)) {
                    errr4.style.display = "block";
                    errr4.innerHTML = "Country name should contain only alphabetic characters.";
                } else {
                    errr4.style.display = "none";
                    errr4.innerHTML = "";
                }
            }
            
            function cityvalidate() {
                const nameval = addressCity1.value;
                const alphabeticRegex = /^[a-zA-Z]+$/; // Regex to match only alphabetic characters
                
                if (nameval.trim() === "") {
                    errr5.style.display = "block";
                    errr5.innerHTML = "Please enter a valid city name.";
                } else if (!alphabeticRegex.test(nameval)) {
                    errr5.style.display = "block";
                    errr5.innerHTML = "City name should contain only alphabetic characters.";
                } else {
                    errr5.style.display = "none";
                    errr5.innerHTML = "";
                }
            }
            
            
            
            
            
            
            function pinvalidate() {
                const addressPinval = addressPin1.value;
                const numericRegex = /^[0-9]+$/; // Regex to match only numbers
                
                if (addressPinval.trim() === "") {
                    errr6.style.display = "block";
                    errr6.innerHTML = "Please enter a valid pincode.";
                } else if (addressPinval.length !== 6 || !numericRegex.test(addressPinval)) {
                    errr6.style.display = "block";
                    errr6.innerHTML = "Please enter a valid 6-digit pincode containing only numbers.";
                } else {
                    errr6.style.display = "none";
                    errr6.innerHTML = "";
                }
            }
            
            
            addressName1.addEventListener('blur', namevalidate)
            addressHouse1.addEventListener('blur',housevalidate)
            addressState1.addEventListener('blur',statevalidate)
            addressCountry1.addEventListener('blur',countryvalidate)
            addressCity1.addEventListener('blur',cityvalidate)
            addressPin1.addEventListener('blur',pinvalidate)
            
            
            
            editforms.addEventListener('submit',function(e){
                    namevalidate()
                    housevalidate()
                    statevalidate()
                    countryvalidate()
                    cityvalidate()
                    pinvalidate()
                    
                    if(errr2.innerHTML || errr4.innerHTML || errr1.innerHTML || errr3.innerHTML || errr5.innerHTML  || errr6.innerHTML  )
                    {
                        e.preventDefault()
                    }
            })
    
            </script>
    <script src="/public/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/assets/js/plugins/slick.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/assets/js/plugins/wow.js"></script>
    <script src="/public/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/assets/js/plugins/select2.min.js"></script>
    <script src="/public/user/assets/js/plugins/waypoints.js"></script>
    <script src="/public/user/assets/js/plugins/counterup.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/public/user/assets/js/plugins/isotope.js"></script>
    <script src="/public/user/assets/js/plugins/scrollup.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="./public/user/assets/js/main.js?v=3.4"></script>
    <script src="./public/user/assets/js/shop.js?v=3.4"></script>

    


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        function showCoupons() {
          $('#couponModal').modal('show');
        }
    </script>
    <script>
        $(document).ready(function(){
            $('#formId').submit(function(event){
                // Prevent default form submission
                event.preventDefault();
                
                // Serialize the form data
                var formData = $(this).serialize();
                
                // Send AJAX request
                $.ajax({
                    url: "/addressPost",
                    method: "POST",
                    data: formData,
                    success: function(response){
                        if(response.status){
                window.location.reload();
  
              }
              else{
                window.location.reload();
              }
                    },
                    error: function(xhr, status, error){
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            });
            
        });
    </script>

    



    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (e) {
                e.preventDefault(); // Prevent default form submission
    
                let address = $("input[name='address']:checked").val();
                let payment = $("input[name='payment_option']:checked").val();
                const data = {
                    addressId: address,
                    paymentOption: payment,
                };
                const totalAmount = document.getElementById("totalAmountCart");
        const totalPrice = convertRupeeToNumber(totalAmount.textContent);
        console.log(totalPrice)

        function convertRupeeToNumber(rupeeString) {
          // Remove the rupee symbol (₹) and any commas from the string.
          const numberString = rupeeString.replace(/₹|,/g, "");

          // Parse the number string into a number and return it.
          return parseInt(numberString);
        }

        if (payment === "COD" || payment === "wallet"){
            $.ajax({
                    url: "/placeOrder",
                    method: "POST",
                    data: data,
                    success: (response) => {
                        if (response.status) {
                            window.location.href = response.url;
                        } else {
                            Toastify({
                                text: `${response.message}`,
                                duration: 3000,
                                gravity: "top",
                                position: "center",
                                stopOnFocus: true,
                                style: {
                                    background: "red",
                                },
                            }).showToast();
                        }
                    }
                });

        }else if (payment === "Razorpay") {
          console.log("razorpay selected");

          fetch('/createorder', {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ totalPrice })
          }).then(response => response.json())
            .then(data => {
              const parseAmount = parseInt(totalPrice)
              console.log(data);
              var options = {
                "key": "rzp_test_3xAnxikxa5xZNZ",
                "amount": 100000,
                "currency": "INR",
                "name": "Watchex",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": data.orderId.id,
                "handler": function (response) {
                  console.log(response);
                  console.log("Hello")

                  verify(response, data.orderId.id)
                  console.log("hey")
                },
                "prefill": {
                  "name": "Gaurav Kumar",
                  "email": "gaurav.kumar@example.com",
                  "contact": "9000090000"
                },
                "notes": {
                  "address": "Razorpay Corporate Office"
                },
                "theme": {
                  "color": "#3399cc"
                }
              };
              
              var rzp = new Razorpay(options)
              rzp.open();
              rzp.on("payment.failed", function (response) {
                console.log('Payment failed:', response.error.description);
                handleFailure(response.error.description, address, payment);
              });

              function handleFailure(description, address, paymentMethod) {
                console.log('Payment failed:', description);

                // Redirect to appropriate page or handle as required
                createOrderWithStatusPending(address, paymentMethod);
                window.location.href="/orderFailedPage"

              }

              function createOrderWithStatusPending(address, paymentMethod) {
                fetch('/placeOrder', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(
                    {
                      addressId: address,
                      paymentOption: paymentMethod,
                      status:"payment pending"
                    }
                  ),
                })
                  .then(response => {
                    if (!response.ok) {
                      throw new Error('Failed to create order.');
                    }
                    return response.json();
                  })
                  .then(data => {
                    console.log(data);
                    if (data.success) {

                      // Redirect to the appropriate page with the newly created order ID
                      window.location.href = '/orderFailedPage';
                    } else {
                      console.error('Error: Order creation failed');
                      // Handle the error case where order creation fails
                      // You may redirect to an error page or display a message to the user
                    }
                  })
                  .catch((error) => {
                    console.error('Error:', error);
                    // Handle any errors that occur during the fetch operation
                    // You may redirect to an error page or display a message to the user
                  });
              }

              function verify(response, orderId) {
                console.log(response, orderId);
                fetch('/paymentSuccess', {
                  method: 'post',
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify({
                    paymentid: response.razorpay_payment_id,
                    razorpayorderid: response.razorpay_order_id,
                    signature: response.razorpay_signature,
                    orderId
                  })
                })
                  .then(response => response.json())
                  .then((data) => {
                    if (data.success) {

                      fetch('/placeOrder', {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(
                          {
                            addressId: address,
                            paymentOption: payment,
                          }
                        ),

                      })

                        .then(response => response.json())
                        .then(data => {
                          console.log(data);
                          window.location.href = '/orderSuccess'
                        })
                        .catch((error) => {
                          console.error('Error:', error);
                        })
                    } else {

                      console.error('Payment failed:', data.error);

                      alert('Payment failed. Please try again later.');
                    }
                  })
                  .catch(error => {
                    // Handle any errors that occur during the fetch operation
                    console.error('Error:', error);
                  });
              }
            })


        }
    
               
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#couponForm").submit(function (e) {
                console.log("aseegvasefc")
                e.preventDefault(); // Prevent default form submission
    
                
                const data = $(this).serialize();
                const totalAmount = document.getElementById("totalAmountCart");
                console.log(totalAmount)
        const totalPrice = convertRupeeToNumber(totalAmount.textContent);
        console.log(totalPrice)
        function convertRupeeToNumber(rupeeString) {
          // Remove the rupee symbol (₹) and any commas from the string.
          const numberString = rupeeString.replace(/₹|,/g, "");

          // Parse the number string into a number and return it.
          return parseInt(numberString);
        }
    
                $.ajax({
                    url: `/applyCoupon/${totalPrice}`,
                    method: "POST",
                    data: data,
                    success: (response) => {
                        if (response) {
                            if(response.status){
                                Toastify({
                                text: `${response.message}`,
                                duration: 3000,
                                gravity: "top",
                                position: "center",
                                stopOnFocus: true,
                                style: {
                                    background: "linear-gradient(to right, aqua, blue)",
                                },
                            }).showToast();
                            // Call setTimeout with an anonymous function and delay in milliseconds
setTimeout(()=> {
    window.location.reload()
}, 600);

                            

                            }
                            else{
                                Toastify({
                                text: `${response.message}`,
                                duration: 3000,
                                gravity: "top",
                                position: "center",
                                stopOnFocus: true,
                                style: {
                                    background: "red",
                                },
                            }).showToast();

                            }
                            
                        } else {
                            Toastify({
                                text: "Something went wrong",
                                duration: 3000,
                                gravity: "top",
                                position: "center",
                                stopOnFocus: true,
                                style: {
                                    background: "linear-gradient(to right, aqua, blue)",
                                },
                            }).showToast();
                        }
                    }
                });
            });
        });
    </script>
    <script>
        function getAddress(addressId) {
            console.log("clicked", addressId);
            $.ajax({
                url: "/editAddress/" + addressId,
                type: 'get',
            })
                .done((res) => {
                    console.log(res,'reeeeeeeeeeeeesssssssssssssssssss');
                    if (res) {
                        document.getElementById('addressname').value = res.address[0].name;
                        document.getElementById('addresshouse').value = res.address[0].house;
                        document.getElementById('addresscity').value = res.address[0].city;
                        document.getElementById('addressstate').value = res.address[0].state;
                        document.getElementById('addresscountry').value = res.address[0].country;
                        document.getElementById('addresspincode').value = res.address[0].pincode;
                        document.getElementById('addressIdd').value = res.address[0]._id;
    
                        $("#editAddress").modal("show");
    
                    }
                })
                .fail((error) => {
                    console.log(error);
                })
    
        }
    </script>
    
    
</body>

</html>